<h1>Datatypes</h1><br>
Python Data types are the classification or categorization of data items. It represents the kind of value that tells what operations can be performed on a particular data. Since everything is an object in Python programming, Python data types are classes and variables are instances (objects) of these classes. The following are the standard or built-in data types in Python:<br>
<br>
Numeric - int, float, complex<br>
Sequence Type - string, list, tuple<br>
Mapping Type - dict<br>
Boolean - bool<br>
Set Type - set, frozenset<br>
Binary Types - bytes, bytearray, memoryview<br>

In [1]:
num=2
print(type(num))
print(num)

<class 'int'>
2

In [2]:
num=3.5
print(type(num))
print(num)

<class 'float'>
3.5

In [3]:
num=4+6j
print(type(num))
print(num)

<class 'complex'>
(4+6j)

In [4]:
num=1
num1=num+1
num2=num+2.5
print(type(num1),type(num2))
print(num1 ,num2)

<class 'int'> <class 'float'>
2 3.5

In [5]:
num.real

1

In [6]:
num.imag

0

<h1> Arthemetic Operation</h1>

In [7]:
num1=50
num2=100

print(num1+num2) #addition 
print(num2-num1) #subtraction
print(num1*num2) #multiplication
print(num2/num1) #division
print(num2//num1) #division
print(num1%num2) #modulos

150
50
5000
2.0
2
50

<h1>Conversions</h1>

In [8]:
x="250" # any number in " " invited commas they denoted as string 
print(type(x))

<class 'str'>

In [9]:
x=int(x) # this converts into integer
print(type(x))

<class 'int'>

In [10]:
x=float(x) # this converts into float
print(type(x))
print(x)

<class 'float'>
250.0

In [11]:
x=complex(x)
print(type(x))
print(x)

<class 'complex'>
(250+0j)

<h1>Functions</h1>

In [12]:
x=-5.5
print(abs(x)) # this function converts negative to positive

5.5

In [13]:
import math
x=10
print(math.exp(x))

22026.465794806718

In [14]:
math.e

2.718281828459045

In [15]:
math.sqrt(9)

3.0

In [16]:
math.pi

3.141592653589793

In [17]:
max(1,5,8,2,6) # finding maximum highest number

8

In [18]:
min(2,4,6,3,6,9) #finding minimum lowest number

2

<h1>Lists</h1><br>
List are the collection of the data , it holds multiple values in a varibles !! <br> 
a set of values in a variable are called list , list can be replceable , lists are denoted as [] brackets <br>
not only numbers , each and every datatype can be in a list . <br>
list are assigned in positioned start from ' 0 '.

In [19]:
num=[2,4,6,8]
print(type(num))
print(num)

<class 'list'>
[2, 4, 6, 8]

In [20]:
word=["A,S,H,R,D,Y"]
print(type(word))
print(word)

<class 'list'>
['A,S,H,R,D,Y']

String is written only in single quotes or double quotes

In [21]:
str=["Adapala","Sri","Harsha","Reddy"]
print (type(str))
print(str)

<class 'list'>
['Adapala', 'Sri', 'Harsha', 'Reddy']

In [22]:
mix=[5,20,"sri","harsha","reddy"]
print(mix)

[5, 20, 'sri', 'harsha', 'reddy']

In [23]:
set=[[1,5,9],["pandu","robert"]]
print(set)

[[1, 5, 9], ['pandu', 'robert']]

<h1>Indexing the List</h1>

In [24]:
print(mix)
mix[3]=50
print(mix[:5]) # when empty ratio start its default with 0 index (lowest)
print(mix[3:]) # when empty ratio ends its default with highest index

[5, 20, 'sri', 'harsha', 'reddy']
[5, 20, 'sri', 50, 'reddy']
[50, 'reddy']

In [25]:
print (mix[-3]) # Indexing in negative represents it counts reverse from highest .

sri

 i.e from back count the indexing !! the highest index will be the -1 index

<h1>Operations on lists<h1>

In [26]:
list=[5]*50
print(list)

[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

when we want multiple list of same number we can multiply by the number how many times numbers in the list

In [27]:
print(word)

['A,S,H,R,D,Y']

In [28]:
print(str)

['Adapala', 'Sri', 'Harsha', 'Reddy']

In [29]:
conc=word+str
print(conc)

['A,S,H,R,D,Y', 'Adapala', 'Sri', 'Harsha', 'Reddy']

In [30]:
print(num)

[2, 4, 6, 8]

In [31]:
one,*other=(num)
print(one)
print(other)

2
[4, 6, 8]

<h1> Methods in List </h1>

In [32]:
print(num)

[2, 4, 6, 8]

In [33]:
num.append(10) #Append defines add the value into list
print(num)

[2, 4, 6, 8, 10]

In [34]:
num.extend(str) # extend defines add the whole another list
print(num)

[2, 4, 6, 8, 10, 'Adapala', 'Sri', 'Harsha', 'Reddy']

In [35]:
num.insert(5,"hello") # insert defines placeing value in determined index !! in (index,"value") this how its represented
print(num)

[2, 4, 6, 8, 10, 'hello', 'Adapala', 'Sri', 'Harsha', 'Reddy']

In [36]:
num.remove(6) # remove defines the deleting the value in determined index
print(num)

[2, 4, 8, 10, 'hello', 'Adapala', 'Sri', 'Harsha', 'Reddy']

In [37]:
num.remove("hello")
print(num)

[2, 4, 8, 10, 'Adapala', 'Sri', 'Harsha', 'Reddy']

In [38]:
var1=["a","s","d","f","g"]
var1.sort() #sort defines the sorting order it places the values in sequences 
print(var1)

['a', 'd', 'f', 'g', 's']

<h1>Build-in Functions </h1>

In [39]:
x=[1,2,3,4,5,]
len(x)  # len defines the length of the funtions 
print(len(x)) # here we can write directly aslo

5

In [40]:
min(x) # minimum value in the list

1

In [41]:
max(x) # maximum value in the list

5

In [42]:
sum(x)  # Sum of all the values in the list

15

In [43]:
# in python there no direct function to find average 
sum(x)/len(x) # by this combining function we can find average

3.0

<h1> Tuples </h1>
Tuple are defined as a collection of the values of immutable heterogeneous python objects , irreplaceable the values in set of collection <br>
Tuplr are denoted as () brackets

In [46]:
emp=() # this defines empty tuple
print(type(emp))
print(emp) # even its empty it show the brackets

<class 'tuple'>
()

In [50]:
city = ("hyderabad", "benguluru") 
print(type(city))

<class 'tuple'>

In [51]:
list1=[1,2,3,4]
tuple1=(1,2,3,4)
list1.append(5) # this means the 5 is added to the end of the list 
print(list1)

[1, 2, 3, 4, 5]

In [52]:
tuple1.append(5) # as said before tuple is irreplaceable . 
print(tuple1) # this wont have any change

AttributeError: 'tuple' object has no attribute 'append'

In [53]:
# see the tuple results error

<h1> Concatination </h1>
concatination is defined as adding two are more list or tuples

In [54]:
print(city)

('hyderabad', 'benguluru')

In [58]:
num=(1,2,3,4)
print(num)

(1, 2, 3, 4)

In [59]:
conc= city+num
print(conc) # conc is combining two tuples

('hyderabad', 'benguluru', 1, 2, 3, 4)

<h1>Nesting the Tuple</h1>

In [60]:
nest=(city,num)# nest defines the grouping the both tuples 
print(nest)

(('hyderabad', 'benguluru'), (1, 2, 3, 4))

<h1>Repetition</h1>

In [62]:
rep=("python",)*5
print(rep) # rep is defined as multipling the repeated values

('python', 'python', 'python', 'python', 'python')

In [65]:
rep=("pycharm",)
print(rep*10) # we can multiply even like this

('pycharm', 'pycharm', 'pycharm', 'pycharm', 'pycharm', 'pycharm', 'pycharm', 'pycharm', 'pycharm', 'pycharm')

<h1>Slicing in tuple</h1>
is nothing but the indexing

In [66]:
num # in python we can use direct calls

(1, 2, 3, 4)

In [68]:
num[1:]

(2, 3, 4)

In [70]:
num[:-1]

(1, 2, 3)

<h1>Unpacking</h1>

In [71]:
tuple("pythonlearning")

('p', 'y', 't', 'h', 'o', 'n', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g')

In [72]:
num

(1, 2, 3, 4)

In [73]:
# we can assign the values to the values 
a,b,c,d=num
print(a,b,c,d)

1 2 3 4

<h1>Deleting the tuple</h1>

In [74]:
tuple1=(2,3,4,5)
print(tuple1)

(2, 3, 4, 5)

In [75]:
del(tuple1)
print(tuple1)

NameError: name 'tuple1' is not defined

In [76]:
# by del() function can delete the whole set of tuple !!

<h1>Build in function</h1>

In [78]:
num1=(2,3,4,4,4,4,4,5,5)
num1.count(4) # it counts how many 4s are there in tuple

5

In [79]:
sum(num1) # sum all the values in the tuple

35

In [80]:
len(num1) # length of the tuple , total no of values

9

In [85]:
list=[3,5,7,9]
print(list)
print(type(list))

[3, 5, 7, 9]
<class 'list'>

In [87]:
tup= tuple(list)  # now converting list into tuple 
print(tup)
print(type(tup))

(3, 5, 7, 9)
<class 'tuple'>

In [88]:
list= [(2,4,6,8),(1,3,5,7)]
print(list)

[(2, 4, 6, 8), (1, 3, 5, 7)]

In [91]:
list.append(("tuple","python","pytoch"))
print(list)

[(2, 4, 6, 8), (1, 3, 5, 7), ('tuple', 'python', 'pytoch'), ('tuple', 'python', 'pytoch'), ('tuple', 'python', 'pytoch')]

In [92]:
tup=(['a','s','d','f'],['q','w','e','r'])
print(tup)

(['a', 's', 'd', 'f'], ['q', 'w', 'e', 'r'])

In [93]:
tup[0].append('z')
print(tup)

(['a', 's', 'd', 'f', 'z'], ['q', 'w', 'e', 'r'])

In [94]:
tup[0].remove('z')
print(tup)

(['a', 's', 'd', 'f'], ['q', 'w', 'e', 'r'])

In [95]:
tup.append('x','y','z') # here we havent selected any list ... coz directly appending in tuple results error
print(tup)

AttributeError: 'tuple' object has no attribute 'append'