<h1>What is Variable ?</h1><br>
variable is defined as assigning a value to the program is called variable !! variables are entites of a program that holds a value in it !!

In [1]:
x=100 # for example

In [2]:
print(x)

100

<h1> What are datatypes ??</h1> <br>
Datatypes are the values that defined in the program as variables !! there are mainly considered 3 types of datatypes <br>

int = integer which is denoted as a whole numbers 0-~ are called integers <br>
float = float which is denoted as a decimal numbers as value are called float <br>
str = string which is denoted as a word / aplhabet in a " " in manner is called string <br>

In [3]:
x=100
print (type(x))

<class 'int'>

In [4]:
x=55.55
print (type(x))

<class 'float'>

In [5]:
x="Python learning"
print (type(x))

<class 'str'>

Not only these 3 there are no of datatypes as i said they are mainly used datatypes , and someother important datatypes are <br>
list = list are defined as a set of values which can be replaceable or alterd , denoted in [] brackets <br>
tuple = tuple are defined as a set of values which can not be replaceable or alterd , denoted in () brackets <br>

In [6]:
x=[2,4,6]
print(type(x))

<class 'list'>

In [7]:
x=(3,6,9)
print(type(x))

<class 'tuple'>

As i Said about replaceable !!

In [14]:
x=[2,4,6]
print(x)

[2, 4, 6]

In [15]:
print(type(x))
x[1]=8
print (x)

<class 'list'>
[2, 8, 6]

This is how in the list , the values can replaceable !!

In [16]:
x=(3,6,9)
print(x)

(3, 6, 9)

In [20]:
print(type(x))
x[0]=9
print(x)

<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

Here in Tuple , error says it does not support item assignment, the set of values are irreplaceable !!

When there are more then 2 values to assign as variables , by default we do this

In [21]:
x=5
y=10
z=15
print (x + y - z)

0

But we can also assign values as set , direct form

In [23]:
(x,y,z)=5,10,15
print (x-y+z)

10

works as same , to assign simply <br>
and also when multiple variables as same value . then it writen simply

In [27]:
(x,y,z)=5 # cant assign single value for 3 variable 
print (y)

TypeError: cannot unpack non-iterable int object

In [30]:
x=y=z=5 # it assigns the same value within 3 variables  
print(z)

5

<h2>Naming the Variable</h2>

In [3]:
Sri=100 # variable name must be start with alphabet
_Sri=150 # variable name can also be start with underscore
print (Sri,_Sri)

100 150

In [6]:
2ri=300 # variable name should not be number , it leads error

SyntaxError: invalid decimal literal (3142312579.py, line 1)

In [7]:
@ha=500 # variable name should not be speacial characters , it leads error

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (896272587.py, line 1)

In [8]:
Sr100=500 # following with alphabet the variable name can have numbers 
print (Sr100)

500

In [10]:
Sr!=400 # following with alphabet the variable name can not have speacial numbers

NameError: name 'Sr' is not defined

Speacial characters in any place of name of the variable is results error

Looking at the alphabets , the variable names are case sensitive , uppercase of an alphabet and lowercase of an alphabet of same are considered differently .

variable names cannot be have the words of datatypes like , int , char , float , break , continue , try etc

In [12]:
class=500 # class is a datatype 
print (class)

SyntaxError: invalid syntax (4241880107.py, line 1)

<h1>Arthemetic Operations </h1><br>
Operations which defined as arthemetic format like , addition , subtraction , multiplication , division , modulas .

In [17]:
x=20
y=30
print (x+y) # addition arthemetic operation 
print (x-y) # subtraction arthemetic operation
print (x*y) # multiplication arthemetic operation 
print (x/y) # division arthemetic operation
print (x%y) # modules arthemetic operation

50
-10
600
0.6666666666666666
20

<h1> String operations </h1>

In [20]:
var="Sriharsha Reddy"
print (var)

Sriharsha Reddy

In [21]:
print (var[10:16])

Reddy

In [24]:
print (var[0] , var[5] ,var[10])

S r R

In [26]:
len(var) # this determines the length of the string , no of characters

15